@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body{
    font-family: 'Poppins';

}
.logo{
width:140px;
}
#top_social{
 flex-direction:row;
 margin-left:20px;
}
#boxing{
    width:80px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row_footer{
	display: flex;
	flex-wrap: wrap;
}
.footer-col ul{
	list-style: none;
}
.footer{
    padding: 0 70px 70px 70px ;
    margin-top: 500px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #000;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #d9272d;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #d9272d;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
  
.gg-facebook {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 20px;
  height: 20px
 }
 
 .gg-facebook::after,
 .gg-facebook::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box
 }
 
 .gg-facebook::before {
  width: 8px;
  height: 20px;
  border-left: 4px solid;
  border-top: 4px solid;
  border-top-left-radius: 5px;
  left: 6px
 }
 
 .gg-facebook::after {
  width: 10px;
  height: 4px;
  background: currentColor;
  top: 7px;
  left: 4px;
  transform: skew(-5deg)
 } 
 .gg-youtube {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 16px;
  height: 10px;
  box-shadow: 0 0 0 2px;
  border-radius:
  15px 15px 15px 15px /
  45px 45px 45px 45px
 }
 
 .gg-youtube::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 7px;
  top: 2px;
  border-left: 4px solid currentColor;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent
 } 

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    text-decoration: none !important;
  }

  header{
    width: 100%;
    height: 100px;
    background-color:white;
    box-shadow: 5px 0px 15px rgb(0 0 0 / 5%);
    position: fixed;
    z-index: 20;
    transition: all 0.5;
    margin-top: -60px;
    /* border-bottom: 1px solid rgb(255, 11, 11); */

  }
header .container{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    height: 100px;
}  

header .nav{
    display: flex;
    width: 64%;
    justify-content: space-between;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 20px;
}

  .main-red-button-hover {
    color: white;
  }



  .nav  li  a{
    font-size: 18px;
    margin-left: 10px;
    color: #2a2a2a;
  display: block;
    font-weight: 600;
    font-size: 15px;
    color: #2a2a2a;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
  }

  .nav  li  a:hover{
    color: red;
    }
  
.main-red-button-hover  button {
    display: inline-block;
  background-color: #D80027;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  transition: all 0.8s;
  border: none;

  }
 

  .main-red-button-hover  button:hover {
    background-color: black;
  }


 .active{
    color: red;
  }
  #ac{
    color: red;

  }




  main{
    width: 100%;
    background-color:white;
    height: 690px;
    background-image: url('../images/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 150px;
  }



  .team{
    width: 100%;
    background-color:white;
    height: 330px;
    background-image: url('../assests/images/portfolio-left-dec.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 50px;
    margin-top: 50px;
    
  }
  .team_title{
    max-width: 700px;
padding: 10px;
text-align: center;
text-transform: capitalize;
margin: auto;
  }
  .team .team_title h2{
font-size:30px;
color: #2a2a2a;
font-weight: 700px;
line-height: 44px;
letter-spacing: 0.25px;
word-spacing: -1px;
  }

  .first_word{
    color: red;
  }

  .second_word{
    color: red;
  }
  

.services_section{
  margin-top: 130px;
  width: 100%;
  background-color:white;
  height: 600px;
  background-image: url('../assests/images/services-right-dec.png');
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position:center;
  /* background-position-x: 50px; */
  overflow: hidden;
}

.service_title{
  max-width: 500px;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  margin: auto; 
}


.services_section .service_title h2{
  font-size:30px;
  color: #2a2a2a;
  font-weight: 700px;
  line-height: 44px;
  letter-spacing: 0.25px;
  word-spacing: -1px;
    }

.op_service{
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 800;
      color: red;
      opacity: 0.15;
    }
.services{
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin-top: 60px;
}
    .serv1{
      width: 350px;
      height: 351px;
      background-color: white;
      text-align: center;
      box-shadow: 0px 0px 15px rgb(0 0 0 / 5%);
      padding: 30px;
      border-radius: 20px;
      position: relative;
      transition: all 0.5s;
    }
    .serv1 h4{
      font-size: 20px;
      font-weight: 700;
      color: #2a2a2a;
      margin-bottom: 10px;
      line-height: 30px;
  }
    .serv1 .line{
      width: 100%;
      height: 1px;
      margin-top: 15px;
      background-color: #eee;
    }

    .serv1 p{
      font-size: 15px;
    line-height: 30px;
    color: #585858;
    margin-top: 15px;
    padding-top: 10px;
    
    }

    .serv1:hover{ 
      opacity: 0.8;
      background-color: red;
      color: #eee;
     
    }

    .serv1:hover p ,   .serv1:hover h4{ 
      /* opacity: 0.8; */
      /* background-color: red; */
      color: #eee;
     
    }

    .serv1:hover .line{ 
      /* opacity: 0.8; */
      background-color:rgb(206, 206, 206);
     
    }
	
.services2{
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin-top: 0px;
}
    .serv2{
      width: 350px;
      height: 351px;
      background-color: white;
      text-align: center;
      box-shadow: 0px 0px 15px rgb(0 0 0 / 5%);
      padding: 30px;
      border-radius: 20px;
      position: relative;
      transition: all 0.5s;
    }
    .serv2 h4{
      font-size: 20px;
      font-weight: 700;
      color: #2a2a2a;
      margin-bottom: 10px;
      line-height: 30px;
  }
    .serv2 .line{
      width: 100%;
      height: 1px;
      margin-top: 15px;
      background-color: #eee;
    }

    .serv2 p{
      font-size: 15px;
    line-height: 30px;
    color: #585858;
    margin-top: 15px;
    padding-top: 10px;
    
    }

    .serv2:hover{ 
      opacity: 0.8;
      background-color: red;
      color: #eee;
     
    }

    .serv2:hover p ,   .serv2:hover h4{ 
      /* opacity: 0.8; */
      /* background-color: red; */
      color: #eee;
     
    }

    .serv2:hover .line{ 
      /* opacity: 0.8; */
      background-color:rgb(206, 206, 206);
     
    }



    /*
     book trial class
    */




.first_intro{
  max-width: 41%;
/* margin-top: 10%; */
margin-left: 6%;
position: relative;
top:200px;

}

    /* intro */
   .first_intro .high{
      text-transform: uppercase;
      font-size: 18px;
      color: red;
      margin-bottom: 15px;
      font-weight: 500;
      line-height: 1.2;
      font-family: 'Poppins', sans-serif;


    }

    .first_intro .second{
      font-size: 50px;
      font-weight: 700;
      color: white;
      line-height: 72px;
      letter-spacing: 0.25px;
      word-spacing: -1px;
      font-family: 'Poppins', sans-serif;
    }
    .first_intro .third {
      font-size: 15px;
      line-height: 30px;
      color: white;
      margin: 20px 0;
      font-family: 'Poppins', sans-serif;
    }
.number{
      color: #ff695f;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;

}
    .our_serv_btn{
      display: inline-block;
      background-color: red;
      font-size: 15px;
      font-weight: 400;
      color: #fff;
      text-transform: capitalize;
      padding: 12px 25px;
      border-radius: 23px;
      letter-spacing: 0.25px;
      transition: all .3s;
      border: none;
    }
    .our_serv_btn:hover{
      color: white;
      background-color: black;
    }


    
        /* intro */
        .second_intro{
          max-width: 41%;
        margin-top: 10%;
        margin-left: 6%;
        position: relative;
        top:72px;
      left: -590px;
      display: none;
        }
       .second_intro .high{
          text-transform: uppercase;
          font-size: 18px;
          color: rgb(255, 255, 255);
          margin-bottom: 15px;
          font-weight: 500;
          line-height: 1.2;
          font-family: 'Poppins', sans-serif;
          margin-top: 200px;
    
        }
    
        .second_intro .second{
          font-size: 50px;
          font-weight: 700;
          color: white;
          line-height: 72px;
          letter-spacing: 0.25px;
          word-spacing: -1px;
          font-family: 'Poppins', sans-serif;
        }
        .second_intro .third {
          font-size: 15px;
          line-height: 30px;
          color: white;
          margin: 20px 0;
          font-family: 'Poppins', sans-serif;
        }

       .main_header{
        display: flex;
        margin-top: -100px;
       }

.member1{
  display: flex;
  justify-content: center;
  align-items: flex-end;

}
       .team_info_1{
        width:250px ;
        height: 150px;
        background-color: black;
        border-top-left-radius:30px ;
        border-bottom-right-radius:30px ;
        /* background-image: url('../assests/images/hover_team.png'); */
        text-align: center;
        position: relative;
        top:-30px;
        left:10px;
        background-size: cover;
        display: none;
        -webkit-animation: bounce-in-bottom 1.1s both;
	        animation: bounce-in-bottom 1.1s both;   
          padding: 10px;
          opacity: 0.5;

        
       }

       .member1:hover .team_info_1{

        display: flex;
        flex-direction: column; 
      justify-content: center;
      justify-items: flex-end;
      opacity: 0.9;

       }

       

       .team_info_1 .name{
        position: absolute;
        right: 20px;
        bottom: 80px;
        text-align: right;
        font-size: 20px;
        color:white;
        font-weight: 800;
       }
      
       .team_info_1 .job{
        position: absolute;
        right: 50px;
        bottom: 30px;
        text-align: right;
        font-size: 15px;
        color:white;


       }







       .member2{
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }
             .team_info_2{
              width:250px ;
              height: 150px;
              background-color: black;
              border-top-left-radius:30px ;
              border-bottom-right-radius:30px ;
              /* background-image: url('../assests/images/hover_team.png'); */
              text-align: center;
              position: relative;
              top:-30px;
              left: 10px;
              background-size: cover;
              display: none;
              -webkit-animation: bounce-in-bottom 1.1s both;
                animation: bounce-in-bottom 1.1s both;   
                padding: 10px;
        
              
             }
      
             .member2:hover .team_info_2{
      
              display: flex;
              flex-direction: column; 
            justify-content: center;
            justify-items: flex-end;
            opacity: 0.9;

             }
      
             
      
             .team_info_2 .name{
              position: absolute;
              right: 50px;
              bottom: 80px;
              text-align: right;
              font-size: 20px;
              color:white;
              font-weight: 800;
             }
            
             .team_info_2 .job{
              position: absolute;
              right: 40px;
              bottom: 30px;
              text-align: right;
              font-size: 15px;
              color:white;
      
      
             }  







             .member3{
              display: flex;
              justify-content: center;
              align-items: flex-end;
            }
                   .team_info_3{
                    width:250px ;
                    height: 150px;
                    background-color: black;
                    border-top-left-radius:30px ;
                    border-bottom-right-radius:30px ;
                    /* background-image: url('../assests/images/hover_team.png'); */
                    text-align: center;
                    position: relative;
                    top:-30px;
                    left: 10px;
                    background-size: cover;
                    display: none;
                    -webkit-animation: bounce-in-bottom 1.1s both;
                      animation: bounce-in-bottom 1.1s both;   
                      padding: 10px;
              
                    
                   }
            
                   .member3:hover .team_info_3{
            
                    display: flex;
                    flex-direction: column; 
                  justify-content: center;
                  justify-items: flex-end;
                  opacity: 0.9;

                   }
            
                   
            
                   .team_info_3 .name{
                    position: absolute;
                    right: 50px;
                    bottom: 80px;
                    text-align: right;
                    font-size: 20px;
                    color:white;
                    font-weight: 800;
                   }
                  
                   .team_info_3 .job{
                    position: absolute;
                    right: 90px;
                    bottom: 30px;
                    text-align: right;
                    font-size: 15px;
                    color:white;
            
            
                   }  
/* ----------------------------------------------
 * Generated by Animista on 2022-11-6 14:28:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(28px);
            transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(28px);
            transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


.social_media{
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social_media img{
margin-top: 20px;
}





.trial_class{
  width: 100%;
  height: 500px;
  background-image: url('../assests/images/contact-left-dec.png');
  background-repeat: no-repeat;
  background-position: left;
  background-position-x:-100px ;
  margin-top: 100px;
  background-size:contain ;
}



.trail_title{
  max-width: 500px;
padding: 10px;
text-transform: capitalize;
margin-left: 80px;
position: relative;
top:50px;
}
.trail_title h2{
font-size:30px;
color: #2a2a2a;
font-weight: 700px;
line-height: 44px;
letter-spacing: 0.25px;
word-spacing: -1px;
}

.first_word{
  color: red;
}

.second_word{
  color: red;
}


.map{
  background-color: rgb(211, 210, 210);
  width: 641px;
  height: 350px;
  border-radius: 100px;
  margin-top: 50px;
  margin-left: 50px;
  z-index:10px;


}

.book_form{
  background-color: white;
  width:551px ;
  height: 900px;
  margin-left: 600px;
  margin-top: -400px;
  border-radius: 20px;
  background-image: url('../assests/images/hover-bg.png');
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 5%);
 padding-left: 150px;
 z-index:20px;
 padding-top: 60px;
}

form{
 
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: transparent;
}


form .text_fill {
  width: 311px;
  height: 46px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #9bdbf8;
  background-color: transparent;
  font-size: 15px;
  font-weight: 300;
   color: #2a2a2a;
   margin-bottom: 35px;


}

form input:focus{
  /* box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25); */
  outline: none;
}


.radio_div{

  background-color: transparent;
  font-size: 16x;
   color: #2a2a2a;
   margin-bottom: 35px;

}

.radio_div b{
  font-size:20px;
  margin-top: 50px;
}


.radio_div input{
  margin-top:15px;
}

#logoo{
  animation: bounce-in-botto 6s both infinite;   

}
@keyframes bounce-in-botto {
0% {
-webkit-transform:rotateX(10deg);
  transform: rotateX(10deg);
-webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
opacity: 0;
}
38% {
-webkit-transform:rotateX(20deg);
  transform: rotateX(20deg);
-webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
opacity: 1;
}
55% {
-webkit-transform:rotateX(40deg);
  transform: rotateX(40deg);
-webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
72% {
-webkit-transform:rotateX(50deg);
  transform: rotateX(60deg);
-webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
81% {
-webkit-transform:rotateX(100deg);
  transform: rotateX(100deg);
-webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
90% {
-webkit-transform:rotateX(120deg);
  transform: rotateX(120deg);
-webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
95% {
-webkit-transform:rotateX(150deg);
  transform: rotateX(150deg);
-webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
100% {
-webkit-transform:rotateX(180deg);
  transform: rotateX(220deg);
-webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

}
.fa{
    color: #CD201F;
     font-size: 25px;
}
.wraper {
    position: absolute;
    width: 80vw;
    transform: translate(-50%, -50%);
    top: 345%;
    left: 50%;
    display: flex;
    justify-content: space-evenly;
    gap: 9px;
}
.containerr {
    width: 35vmin;
    height: 35vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em 0;
    position: relative;
    font-size: 18px;
    border-radius: 0.5em;
    font-weight: 500;
    background-color: #000;
    border-bottom: 10px solid #d9272d;
}
.containerr i {
    color: #CD201F;
    font-size: 1.4em;
    text-align: center;
}
span.num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}
span.text {
    color: #ffffff;
    font-size: 1em;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
    margin: 70px;
    padding-right: 150px;
}
.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 11px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}



.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
    .wrapper {
      width: 85vw;
    }
    .container {
      height: 26vmin;
      width: 26vmin;
      font-size: 12px;
    }
}
@media screen and (max-width: 768px) {
    .wraper {
      width: 90vw;
      flex-wrap: wrap;
      gap: 30px;
    }
    .containerr {
      width: calc(50% - 40px);
      height: 30vmin;
      font-size: 14px;
    }
}
@media screen and (max-width: 480px) {
    .wraper {
      gap: 15px;
    }
    .containerr {
      width: 100%;
      height: 25vmin;
      font-size: 8px;
    }
}

textarea {
  resize: none;
}

.text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
white-space: nowrap;
}


.svg-inline--fa {
vertical-align: -0.200em;
}



.rounded-social-buttons .social-button {
display: inline-block;
position: relative;
cursor: pointer;
width: 2.125rem;
height: 2.125rem;
border: 0.125rem solid transparent;
padding: 0;
text-decoration: none;
text-align: center;
color: #fefefe;
font-size: 1.5625rem;
font-weight: normal;
line-height: 1em;
border-radius: 1.6875rem;
transition: all 0.5s ease;
margin-right: 0.25rem;
margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
-webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
}

.rounded-social-buttons , .fa-facebook-f, .fa-youtube, .fa-instagram {
font-size: 18px;
}

.rounded-social-buttons .social-button.facebook {
background: #1b55d1;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
color: #3b5998;
background: #fefefe;
border-color: #1b55d1;
}



.rounded-social-buttons .social-button.youtube {
background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
color: #bb0000;
background: #fefefe;
border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
background: #bd4c4c;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
color: #bd4c4c;
background: #fefefe;
border-color: #bd4c4c;
}

.counter_title{
  max-width: 990px;
padding-top: 100px;
text-align: center;
text-transform: capitalize;
margin: auto;
}
.counter_title h2{
font-size:30px;
color: #2a2a2a;
font-weight: 700px;
line-height: 44px;
letter-spacing: 0.25px;
word-spacing: -1px;
}

.first_word{
  color: red;
}

.second_word{
  color: red;
}
.op_counter{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: red;
  opacity: 0.15;
}

